h1 {
    color: rgba(35, 211, 241, 0.514);
    font-size: 2.5em;
    text-align: center;
}
body {
    background-color: rgba(28, 195, 224, 0.5);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: rgb(51, 51, 51);
    margin: 0;
}
title {
    font-size: 1.5em;
    color: rgba(163, 230, 7, 0.514);
}